@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: SFProDisplayRegular, Arial, Helvetica, sans-serif;
}
.text-blue-600{
color: #0a0a0a;
}
.bg-blue-600{
  background-color: #0a0a0a;
}
.from-blue-600{
  --tw-gradient-from: #252525;
}
.to-blue-700{
  --tw-gradient-to: #515151;
}
.bg-blue-650{
  background-color: rgb(37, 99, 235);
}